@font-face{
    font-family: "Roboto-Regular";
    src: url('Roboto-Regular.ttf');
}
span, text, div{
	font-family: "Roboto-Regular"
}
.box{
	width: 200px;
	height:200px;
	background-color:red;
	border: 2px white solid;
	overflow: hidden;
	display:flex;
	justify-content:center;
	align-items:center;

}
.box span{
	color: white;
	font-size: 20px;
	font-weight; bolder;
}

.month-buttons{
	height: 48px;
	border: 1px solid white;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-grow: 2;
	text-align: center;
	color: white;
	font-weight: bold;
}
.pies{
	background-color: green;
}
.selected-box{
	border: 2px #252525 solid;
}
#pie-wrapper{
	position: relative;
	text-align: center;
	width: 300px;
	height: 300px;
	top: 20px;
	left: 30px;
	margin-left: auto;
	margin-right: auto;
}
#big-wrapper{
	
}
#box-wrapper{
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}
#box-wrapper-bot{
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

#months-bar{
	display: flex;
	width: 850px;
	height: 50px;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#box1{
	background-color: #DB3A4E
}
#box2{
	background-color: #F9EE62
}
#box3{
	background-color: #FFB53C
}
#box4{
	background-color: #63CFB7
}
#box5{
	background-color: #4990E2
}
#box6{
	background-color: #B8E986
}
#box7{
	background-color: #A97BD1
}
#box8{
	background-color: #9B9B9B
}
#dynamic-chart{
	position: relative;
	top: 20px;
}
